<div id="map"></div>
<% xxx = 150.644 %>

<style>
#map {
    width: 500px;
    height: 300px;
}
</style>

<script>
let yyy = Number("<%= xxx %>");
function initMap() {
    let map = new google.maps.Map(document.getElementById('map'),{
        center: {lat: -34.397, lng: yyy },
        zoom: 8
    });

    let marker = new google.maps.Marker({
        position: {lat: -34.397, lng: yyy },
        map: map,
        title: 'Hello World!'
    });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_API_KEY'] %>&callback=initMap" async defer></script>