<h5 class="text-secondary"><%= "To #{post.target.name}" %></h5>
<% star = post.star %>
<%= render partial: "museums/fiveStar", locals: {star: star} %>
<p><%= safe_join(post.content.split("\n"), tag(:br)) %></p>
<% if post.created_at != post.updated_at %>
    <p class="text-secondary">(編集済み)</p>
<% end %>