<div class="main signup-main">
    <div class="signup-form">
        <%= form_tag("/users/create") do %>
            <p>ユーザー名</p>
            <input name="name" value="<%= @user.name %>">
            <p>メールアドレス</p>
            <input name="email" value="<%= @user.email %>">
            <p>パスワード</p>
            <input name="password" value="<%= @user.password %>" type="password">
            <input type="submit" value="登録">
        <% end %>
    </div>
</div>