<div class="container">
    <% if @error_message %>
        <div class="alert alert-warning mx-auto w-50 text-center">
            <%= @error_message %>
        </div>
    <% end %>
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <h4><%= "#{@post.target.name}へのクチコミを編集" %></h4>
            <%= form_tag("/posts/#{@post.id}/update") do %>
                <p class="mt-4">
                    <select class="form-control" id="Rate" name="star">
                        <option value="">---</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </p>
                <p>
                    <textarea class="form-control" id="Content" name="content"><%= safe_join(@post.content.split("\n"), tag(:br)) %></textarea>
                </p>
                <p>
                    <input class="btn btn-primary" id="Edit post" type="submit" value="更新">
                </p>
            <% end %>
        </div>
    </div>
</div>