<% user = User.find_by(id: post.user_id) %>
<h4><%= user.name %></h4>
<% star = post.star %>
<%= render partial: "museums/fiveStar", locals: {star: star} %>
<p><%= post.content %></p>
<% if post.created_at != post.updated_at %>
    <p class="text-secondary">(編集済み)</p>
<% end %>