<div class="container mt-4">
    <div class="row my-2">
        <div class="col-3 border-right">
            <%= render "search_form" %>
        </div>
        <div class="col-9">
            <% if @museums.empty? %>
                <div class="alert alert-warning mx-auto w-75 mt-5 text-center">
                    検索ワードを含む美術館は見つかりませんでした
                </div>
            <% end %>
            <% if @museums.present? %>
                <h4 class="text-center">
                    <%= "”#{params[:name]}”を含む検索結果一覧" %>
                </h4>
            <% end %>
            <% @museums.each do |museum| %>
                <%= render partial: "museum", locals: {museum: museum} %>
            <% end %>
        </div>
    </div>
</div>

<div class="container mb-5">
    <%= paginate @museums %>
</div>